# **Extract, Transform, Load (ETL) with pandas**
Created by Farin Cyntiya Garini

<center><img src="https://i.postimg.cc/wB2yJcPb/ETL-process.png"></center>

Source: [medium.com](https://medium.datadriveninvestor.com/understanding-extract-transform-and-load-etl-and-its-necessity-in-data-analytics-world-with-an-64346016153d)

---
## Introduction

During a pandemic, many coding competitions such as Competitive Programming and Hackathon are held because it is possible to do it online.

Hackathon is a competition to make software (software) carried out in a marathon and is usually followed by a team. Generally, hackathon participants are asked to develop a platform (mobile, web, desktop, etc.) within a certain period to solve problems that have been defined by the organizers or based on the theme chosen by the team.

To participate in a hackathon, prospective participants must register themselves on a certain site/form by entering some of the information requested by the organizer.

**Extract, Transform, and Load (ETL)** is a collection of processes to "move" data from one place to another.
The place in question is from data sources (application databases, files, logs, databases from 3rd party, and others) to the data warehouse.

**What is a data warehouse?**
In short, a data warehouse is a database containing data (tables) ready for analysis by Data Analysts and Data Scientists. More details can be seen at:
[wikipedia.org](https://en.wikipedia.org/wiki/Data_warehouse).

Through this project, we'll learn each of these processes.

In this project, we will process the registrant data for a hackathon organized by DQLab called DQThon.

This dataset consists of 5000 rows of data (5000 registrants) in CSV (Comma-separated values) format and has several columns, including:
* participant_id: ID of the participant/participant of the hackathon. This column is unique, so each participant must have a different ID
* first_name: participant's first name
* last_name: participant's last name
* birth_date: participant's date of birth
* address: participant's residence address
* phone_number: participant's cellphone/phone number
* country: participant's country of origin
* institute: the current participating institution, can be the name of the company or the name of the university
* occupation: participant's current job
* register_time: the time participants register for the hackathon in seconds

We will generate several columns by utilizing existing columns, so this project results in a data transformation with several new columns apart from the 10 columns above.

## **Extract**

Extraction is the process of extracting data from sources. This source can be relational data (SQL) or tables, non-relational (NoSQL), or others.
We will first read this dataset as a CSV so it can be processed later. The file can be accessed via the URL: https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv.

In [1]:
import pandas as pd

df_participant = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv')
df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09

## **Transform**

Transformation is the process of transforming data or changes to data. Generally like:
1. Change the value of a column to a new value,
2. Create a new column by utilizing another column,
3. Transpose rows into columns (or vice versa),
4. Change the data format to a more standard form (for example, column date and datetime, which usually have non-standard values or phone numbers which usually have values that do not match the standard format), and others.

### Transformation 1 - Postal Code

There's a request from the logistics team that they needed a postal code from the participant to make the trophy shipping easier and faster. Therefore, we'll create a new column named `postal_code`, which contains information about the postal code taken from the participant's address (address column). Note that the postal code is at the very end of the address, and if the entered regex cannot catch the pattern from the address column value, it will return NaN.

In [2]:
df_participant['postal_code'] = df_participant['address'].str.extract(r'(\d+)$') # add the regex into the extract function

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074

### Transformation 2 - City

In addition to the postal code, the logistics team also needed the participant's city. To provide this information, we'll create a new column named the city obtained from the address column. It is assumed that `city` is a character after the street number followed by \n (a newline character) or, in other languages, enter.

In [3]:
df_participant['city'] = df_participant['address'].str.extract(r'(?<=\n)(\w.+)(?=,)')

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri

### Transformation 3 - GitHub

One of the parameters to find out what projects the participants have worked on is from their git repository. In this case, we use the GitHub profile as the parameter. We'll create a new column named `github_profile`, which is the link to the GitHub profile of the participant. Note that their GitHub profile is a concatenation of lowercase first_name and last_name.

In [4]:
df_participant['github_profile'] = 'https://github.com/' + df_participant['first_name'].str.lower() + df_participant['last_name'].str.lower()

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti

### Transformation 4 - Phone Number

If we reobserve, it turns out that the phone numbers in our csv data have different formats. Therefore, we need to clean the phone number data so that it has the same format. We'll determine the correct phone number format. In this case, we'll equate the format with the rule:
* If the prefix of the phone number is the number 62 or +62, which is the Indonesian telephone code, it will be translated to 0
* No punctuation marks such as opening parenthesis, closing parenthesis, dash⟶ ()-
* There is no space in the phone number

To store the cleaning results of the phone number, we'll create a column named `cleaned_phone_number`.

In [5]:
df_participant['cleaned_phone_number'] = df_participant['phone_number'].str.replace(r'^(\+62|62)', '0')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'[()-]', '')
df_participant['cleaned_phone_number'] = df_participant['cleaned_phone_number'].str.replace(r'\s+', '')

df_participant.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835

### Transformation 5 - Team Name

The dataset does not currently contain team names, and apparently, the Data Analyst team requires information regarding the team names of each participant. Note that the team name combines values from the `first_name`, `last_name`, `country`, and `institute` columns. Thus, we'll create a new column named `team_name`, which contains the team name information of the participants.

In [6]:
def func(col):
    abbrev_name = "%s%s"%(col['first_name'][0],col['last_name'][0]) # abbreviation of first name and last name by taking the first letter
    country = col['country']
    abbrev_institute = '%s'%(''.join(list(map(lambda word: word[0], col['institute'].split())))) # abbreviation of the value in institute column
    return "%s-%s-%s"%(abbrev_name,country,abbrev_institute)

df_participant['team_name'] = df_participant.apply(func, axis=1)

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR

### Transformation 6 - Email

After reviewing the participant data, it turns out that a critical piece of information is not yet available, namely email. As a Data Engineer, we'll provide email information from participants with the rules that the email format is as follows:

```
Email format:
xxyy@aa.bb.[ac/com].[cc]

Description:
xx -> first name (first_name) in lowercase
yy -> last name (last_name) in lowercase
aa -> institution name

For the value of bb and cc, follow the value of aa. The rules:
- If the institution is a university, then:
bb -> combination of the first letters of each word of the University name in lowercase. 
Then, followed by .ac which indicates the academy/institution of learning, followed by pattern cc.
- If the institution is not a University, then:
bb -> combination of the first letters of each word of the University name in lowercase. 
Then, followed by .com. Note that the cc pattern does not apply in this condition.

cc -> is the participant's country of origin; as for the rules:
- If the number of words in the country is more than 1, then take the abbreviation of that country in lowercase.
- However, if the number of words is only 1 then take the first 3 letters of the country in lowercase.

For example:
  First name: Citra
  Last name: Nurdiyanti
  Institution: UD Prakasa Mandasari
  Country: Georgia
  Then, the email: citranurdiyanti@upm.geo
  -----------------------------------
  First name: Aris
  Last name: Setiawan
  Institution: Universitas Diponegoro
  Country: Korea Utara
  Then, the email: arissetiawan@ud.ac.ku
```

In [7]:
def func(col):
    first_name_lower = col['first_name'].lower()
    last_name_lower = col['last_name'].lower()
    institute = ''.join(list(map(lambda word: word[0], col['institute'].lower().split()))) # abbreviation of the institution name in lowercase

    if 'Universitas' in col['institute']:
        if len(col['country'].split()) > 1: # to check whether the number of letters in the country name > 1
            country = ''.join(list(map(lambda word: word[0], col['country'].lower().split())))
        else:
            country = col['country'][:3].lower()
        return "%s%s@%s.ac.%s"%(first_name_lower,last_name_lower,institute,country)

    return "%s%s@%s.com"%(first_name_lower,last_name_lower,institute)

df_participant['email'] = df_participant.apply(func, axis=1)

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com

### Transformation 7 - Date of Birth

MySQL is a very popular database used to store data in the form of tables, including the data from the processing we've done, which can later be entered into MySQL.
Even so, there is a rule from MySQL regarding the date format they can accept, namely YYYY-MM-DD:
* YYYY: 4 digits indicating the year
* MM: 2 digits indicating the month
* DD: 2 digits indicating the date

For example, 2021-04-07.

If we reobserve the date of birth column, we can see that the value does not match the DATE format from MySQL (See more details [here](https://www.mysqltutorial.org/mysql-date/)).
Therefore, we'll format the birth_date column to YYYY-MM-DD and save it in the same column.

In [8]:
df_participant['birth_date'] = pd.to_datetime(df_participant['birth_date'], format='%d %b %Y')

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com

### Transformation 8 - Competition Registration Date

In addition to having rules regarding the DATE format, MySQL also provides rules for data of type DATETIME, namely YYYY-MM-DD HH:mm:ss:
* YYYY: 4 digits indicating the year
* MM: 2 digits indicating the month
* DD: 2 digits indicating the date
* HH: 2 digits indicating the hour
* mm: 2 digits indicating the minute
* ss: 2 digits indicating seconds

For example, 2021-04-07 15:10:55.

Our data regarding participant registration time (`register_time`) is not in the proper format. Therefore, we'll change `register_time` to DATETIME format according to MySQL's rules and save the results to the `register_at` column.

In [9]:
df_participant['register_at'] = pd.to_datetime(df_participant['register_time'], unit='s')

df_participant.head()

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time,postal_code,city,github_profile,cleaned_phone_number,team_name,email,register_at
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,1991-02-05,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09,80734,Medan,https://github.com/citranurdiyanti,01510812706,CN-Georgia-UPM,citranurdiyanti@upm.com,2021-04-05 14:47:26
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,1993-01-11,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09,09434,Prabumulih,https://github.com/arissetiawan,00364617027,AS-Korea Utara-UD,arissetiawan@ud.ac.ku,2021-04-05 14:46:58
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,1993-07-31,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09,57739,Ambon,https://github.com/corneliahandayani,0898336695,CH-Komoro-UHP,corneliahandayani@uhp.com,2021-04-05 14:47:15
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,1991-11-04,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09,76156,Lubuklinggau,https://github.com/solehrajasa,04183294756,SR-Eritrea-PTY,solehrajasa@pty.com,2021-04-05 14:47:14
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,2003-01-22,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09,70074,Kediri,https://github.com/viviastuti,0812511835,VA-Aljazair-PHR,viviastuti@phr.com,2021-04-05 14:46:50

---

## Conclusion
If we look back, our current dataset is different from the previous extract process. Some additional columns are utilized from other column values. Our dataset currently contains the following columns.
1. participant_id: ID of the participant/participant of the hackathon. This column is unique, so each participant must have a different ID
2. first_name: participant's first name
3. last_name: participant's last name
4. birth_date: participant's date of birth (already formatted to YYYY-MM-DD)
5. address: participant's residence address
6. phone_number: participant's cellphone/phone number
7. country: participant's country of origin
8. institute: the current participating institution, can be the name of the company or the name of the university
9. occupation: participant's current job
10. register_time: the time participants register for the hackathon in seconds
11. team_name: name of the participating team (combination of first name, last name, country, and institution)
12. postal_code: participant's address postal code (taken from the address column)
13. city: participant city (taken from the address column)
14. github_profile: link to the participant's GitHub profile (combination of first name and last name)
15. email: participant's email address (combination of first name, last name, institution, and country)
16. cleaned_phone_number: participant's cellphone/telephone number (already more in line with the phone number format)
17. register_at: date and time participants registered (already in DATETIME format)

---

## **Load**

In this load section, the data that has been transformed to fit the needs of the analyst team is put back into the database, namely the Data Warehouse (DWH). Usually, the database schema is defined first, such as:
1. Column name
2. Column type
3. Is the primary key, unique key, or index?
4. Column length

Generally, data warehouses are databases that are structured so that they require a schema before the data is entered. Pandas already provides a function to enter data into the database, namely to_sql().
Details of the function can be found in the [Pandas documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html).